{% extends 'base.html' %} {% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Notas</h1>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      <i class="bi bi-plus-circle-fill me-1"></i>Nota
    </button>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Nota</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="form_add_note" action="" method="POST">
              {% csrf_token %} {{form.as_p}}
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button form="form_add_note" type="submit" class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row">
        {% for note in notes %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-header bg-primary text-white py-3">
              <h5 class="card-title mb-0 fw-bold">{{ note.title }}</h5>
            </div>

            <div class="card-body">
              <p class="card-text text-secondary">
                {{ note.description|linebreaks }}
              </p>
            </div>

            <div class="card-footer bg-transparent border-0">
              <small class="text-muted">
                <i class="bi bi-calendar"></i> {{ note.created|date:"d M, Y" }}
              </small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
{% endblock content %}
