{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPrepagoModal">
    <i class="bi bi-plus-circle-fill me-1"></i>Prepago
  </button>
</div>


<div class="modal fade" id="createPrepagoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Venta Prepago</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form_add_note" action="" method="POST">
          {% csrf_token %}
          {{form.as_p}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button form="form_add_note" type="submit" class="btn btn-primary">
          Guardar Prepago
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Empieza contenido de ventas en tabs-->
<div class="container mt-5 mb-5" id="moduloVentas">
  <ul class="nav nav-pills nav-justified mb-4 shadow-sm p-1 bg-white rounded fw-bold">
    <li class="nav-item">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#ventas">
        <i class="bi bi-list-stars me-1"></i> Ventas
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#seguimiento">
        <i class="bi bi-clock-history me-1"></i> Seguimiento
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#validadas">
        <i class="bi bi-check2 me-1"></i> Validadas
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#exitosas">
        <i class="bi bi-check-all me-1"></i> Exitosas
      </button>
    </li>
  </ul>


  <div class="tab-content mt-3" id="pills-tabContent">
    <div class="tab-pane fade show active" id="ventas" role="tabpanel">
      <h1>Ventas</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">CLIENTE</th>
            <th scope="col">CURP</th>
            <th scope="col">DN</th>
            <th scope="col">NIP</th>
            <th scope="col"> VENDEDOR</th>
            <th scope="col" class="text-center">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          {% for venta_prepago in ventas_prepago %}
          <tr>
            <th scope="row">
              <span class="badge rounded-pill p-2 me-2"
                style="background-color: #ecfdf5; color: #059669; border: 1px solid #d1fae5;">
                <i class="bi bi-person-fill"></i>
                {{venta_prepago.nombre|first|upper}}{{venta_prepago.apellido_paterno|first|upper}}
              </span>
              {{venta_prepago.nombre}} {{venta_prepago.apellido_paterno}}
              {{venta_prepago.apellido_materno}}
            </th>
            <td>{{venta_prepago.curp}}</td>
            <td>{{venta_prepago.dn}}</td>
            <td>{{venta_prepago.nip}}</td>
            <td>
              <div class="text-muted small">
                <i class="bi bi-person-circle me-2"
                  style="color: #94a3b8; font-size: 1rem;"></i>{{venta_prepago.user.first_name}}
              </div>
            </td>
            <td class="text-center">
              <div class="btn-group" role="group">
                <a href="#" class="btn btn-sm btn-outline-primary" title="Editar">
                  <i class="bi bi-pencil-fill"></i>
                </a>
                <button type="button" class="btn btn-sm btn-outline-danger" title="Eliminar" data-bs-toggle="modal"
                  data-bs-target="#deletePrepagoModal{{venta_prepago.id}}">
                  <i class="bi bi-trash3"></i>
                </button>
                <!-- Modal para eliminar-->
                <div class="modal fade" id="deletePrepagoModal{{venta_prepago.id}}" tabindex="-1"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title fw-bold text-danger" id="exampleModalLabel">
                          <i class="bi bi-exclamation-triangle text-danger me-1"></i>
                          Eliminar Venta Prepago
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-center">
                        <p class="fs-5">
                          ¿Seguro que deseas eliminar la venta de
                          <strong>{{ venta_prepago.user.first_name}}</strong>?
                        </p>
                        <form id="form_delete_venta_prepago{{venta_prepago.id}}"
                          action="{% url 'delete_venta_prepago' venta_prepago.id %}" method="POST">
                          {% csrf_token %}
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                          Cancelar
                        </button>
                        <button type="submit" class="btn btn-danger"
                          form="form_delete_venta_prepago{{venta_prepago.id}}">
                          <i class="bi bi-trash3 me-1"></i>Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Termina modal de eliminar-->
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="seguimiento" role="tabpanel">Seguimiento</div>
    <div class="tab-pane fade" id="validadas" role="tabpanel">Validadas</div>
    <div class="tab-pane fade" id="exitosas" role="tabpanel">Exitosas</div>
  </div>
</div>


<!-- Termina contenido de ventas en tabs-->
{% endblock content %}